---
import Container from './Container.astro'
---

<section class="bg-[#60efff] py-20">
  <Container>
    <h1 class="text-blue-900 text-5xl font-black text-center">
      {Astro.props.title}
    </h1>
  </Container>
</section>
