---
import Layout from '../layouts/Layout.astro'
import Container from './components/Container.astro'
import Table from './components/Table.astro'
---

<Layout title="Kings League Infojobs">
  <main>
    <section class="bg-[#60efff]">
      <Container>
        <div class="col-span-2">
          <Table />
        </div>
      </Container>
    </section>
  </main>
</Layout>
